{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="backgroundReg">
    <h1>Register</h1>
    {% dump(registrationForm.avatarId) %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}

    <table class="table">
        <tbody>
        <tr>

            {% for elem in registrationForm.avatarId %}
                <th>
                    <label for="{{ elem.vars.id }}">
                        <img src="{{ elem.vars.label }}" class="avatar">
                    </label>
                </th>
                <td>
                    {{ form_widget(elem) }}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>


    <button class="btn">Register</button>


    {{ form_end(registrationForm) }}
    </div>
{% endblock %}


