{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="backgroundReg">
        <div class="col-3" id="lft-col">
        </div>
        <div class="col-6">
        </div>
    <h1>Register</h1>
    {% dump(registrationForm.avatarId) %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}

    {#<table class="table">#}
        {#<tbody>#}
        {#<tr>#}

            {#{% for elem in registrationForm.avatarId %}#}
                {#<th>#}
                    {#<label for="{{ elem.vars.id }}">#}
                        {#<img src="{{ elem.vars.label }}" class="avatar">#}
                    {#</label>#}
                {#</th>#}
                {#<td>#}
                    {#{{ form_widget(elem) }}#}
                {#</td>#}
            {#{% endfor %}#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

        {% for elem in registrationForm.avatarId %}
        <div class="btn-group-toggle" data-toggle="buttons">
            <label for="{{ elem.vars.id }}" class="btn btn-secondary active">
                {#<input type="radio" checked autocomplete="off" name="registration_form[{{ elem.vars.id }}]">#}
                {{ form_widget(elem) }}<img src="{{ elem.vars.label }}" class="avatar">
            </label>
        </div>
        {% endfor %}


    <button class="btn">Register</button>


    {{ form_end(registrationForm) }}
        <div class="col-3" id="lft-col">
        </div>
    </div>
{% endblock %}


