{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row" id="backgroundReg">
        <div class="col-3">
        </div>
        <div class="col-6">

            <h1>Register</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password.first) }}
            {{ form_row(registrationForm.password.second) }}

            <p>Choisi un avatar</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for elem in registrationForm.avatarId %}
                    <label for="{{ elem.vars.id }}" class="btn btn-secondary">
                        {{ form_widget(elem) }}<img src="{{ asset( elem.vars.label ) }}" class="avatar">
                    </label>
                {% endfor %}
            </div>


            {{ form_row(registrationForm.termsAccepted) }}
            <button class="btn btn-secondary">Register</button>


            {{ form_end(registrationForm) }}
        </div>
        <div class="col-3" id="lft-col">
        </div>
    </div>
{% endblock %}


