{#{% extends 'base.html.twig' %}#}

{% block head %}
    <link href="{{ asset('assets/css/memory_style.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}Jeu Memory{% endblock %}

{% block body %}


    <div id="backgound">
        <img alt="background" id="bkimg" src="{{ asset('assets/img/background_img.jpg')}}" />
        <img alt="bloc notes" id="bloc" src="{{ asset('assets/img/bloc_jeu.png')}}" />

        <img alt="logo" id="logo" src="{{ asset('assets/img/logo.png')}}" />


        <a href="{{ path('app_logout') }}"> <button type="button" class="bt-accueil" id="quitter">
                <img alt="pause" class="color-bt" src="{{ asset('assets/img/quitter.svg')}}" />
            </button></a>
        <button type="button" class="bt-accueil" id="pause">
            <img alt="quitter" class="color-bt" src="{{ asset('assets/img/pause.svg')}}" />
        </button>



        <!--		///////////////////////////////////////////////////-->


        <div id="paper-background">
            <p class="consigne-text">Trouve les paires correspondantes. Attention le temps est limité !</p>

            <div id="canvas-size"></div>
        </div>


            <div id="container-avatar">
                <img src="{{ asset( app.user.avatarid.link ) }}" id="avatar">
                <p id="name-player">{{ app.user.getUsermail }}</p>
            </div>


</div>


    <script src="{{ asset('assets/script/memory_script.js') }}"></script>


{% endblock %}
