{#{% extends 'base.html.twig' %}#}

{% block head %}
    <link href="{{ asset('assets/css/allumettes_style.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}Jeu des allumettes{% endblock %}

{% block body %}
{% dump  %}

    <div id="backgound">

        <img alt="background" id="bkimg" src="{{ asset('assets/img/background_img.jpg')}}" />
        <img alt="bloc notes" id="bloc" src="{{ asset('assets/img/bloc_jeu.png')}}" />

        <img alt="logo" id="logo" src="{{ asset('assets/img/logo.png')}}" />



        <a href="{{ path('app_login') }}"> <button type="button" class="bt-accueil" id="quitter">
            <img alt="pause" class="color-bt" src="{{ asset('assets/img/quitter.svg')}}" />
        </button></a>
        <button type="button" class="bt-accueil" id="pause">
            <img alt="quitter" class="color-bt" src="{{ asset('assets/img/pause.svg')}}" />
        </button>





        <!--		///////////////////////////////////////////////////-->



        <div id="allumettes-background">
            <p class="consigne-text">Sélectionne 1, 2 ou 3 allumettes pour découvrir le message écrit sur la tombe. <br />Tu devras prendre la dernière pour gagner et décoder le message en premier.</p>
            <img src="{{ asset('assets/img/tombe.jpg')}}" />
        </div>


        <div id="container-allumettes">


    </div>


        <div id="container-avatar">
            <img src="{{ '../' ~ app.user.avatarid.link }}" id="avatar">
            <p id="name-player">{{ app.user.getUsermail }}</p>
        </div>

        <!-- /Allumettes -->

        <button type="button" id="btOne" class="round" >1
        </button>
        <!-- /Button One (Allumettes) -->

        <button type="button" id="btTwo" class="round" >2
        </button>
        <!-- /Button One (Allumettes) -->

        <button type="button" id="btThree" class="round">3
        </button>
        <!-- /Button One (Allumettes) -->
    </div>







    <script src="{{ asset('assets/script/allumettes_script.js') }}"></script>


{% endblock %}
